<html 
  xmlns:th="https://www.thymeleaf.org/"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security5"
  >

<head th:fragment="header">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
</head>

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ECOM-SAI-IT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Brand</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/search/categories}">Categories</a>
      </li>
 	
      
      <!--Shipping START-->
      <li class="nav-item dropdown" sec:authorize="isAnonymous()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search By User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/}">Brand</a>
          <a class="dropdown-item" th:href="@{/search/categories}">Categories</a>
           <a class="dropdown-item" th:href="@{/customer/register}">Register</a>
          <a class="dropdown-item" th:href="@{/login}">Login</a>
        </div>
      </li>
      <!--Shipping END-->
      
     
      
    </ul>
    
  </div>
</nav>
<div th:fragment="productForm">
		<form th:action="@{/search/byProduct}">
			<input type="text" name="productname" class="form-control" placeholder="Enter Product name"/>
			<button type="submit" class="btn btn-info">Search</button>
		</form>
</div>


</html>
