html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/customerUi :: header"></div>
<body>
<div th:insert="fragments/customerUi :: menu"></div>
	<div class="container">
		<br/>
		<br/>
		<div th:insert="fragments/customerUi :: productForm"></div>

		<div class="card">
			<div class="card-header bg-primary text-white">
				<h1>PRODUCT RESULT HERE!</h1>
			</div>
			<div class="card-body">
				<th:block th:each="ob:${list}">
					<div class="row">
				 		<div class="col-4">
				 		<img th:src="${ob[1]}" />
				 	</div>
				 	<div class="col-4">
				 		<h3 class="text-danger">[[${ob[2]}]]</h3>
				 	<ul>
				 		<li>
				 			<h4>[[${ob[3]}]]</h4>
				 		</li>
				 		<li>
				 			<b>Cost: [[${ob[4]}]]</b>
				 		</li>
				 	</ul>
				 	</div>
				 	<div class="col-4">
				 		<a th:href="@{/search/productViewById(prodId=${ob[0]})}" class="btn btn-info">View Product</a>
				 	</div>

				 	</div>
				 	
				 </th:block> 
				</div>
			</div>
			
		</div>
	</div>
</body>

</html>
