<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:insert="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h1>Welcome to Product Edit Page</h1>
			</div>
			<div class="card-body">
				<form id="myproductForm" th:action="@{/product/update}" method="POST" th:object="${product}">
					<!--new Row -->
					<div class="row">
						<div class="col-3">
							<label for="id"> ID </label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{id}" class="form-control" readonly />
						</div>
						<div class="col-4">
                                <span id="costError"></span>
                        </div>
					</div>
					<!--new Row -->
					<div class="row">
						<div class="col-3">
							<label for="name"> NAME</label>
						</div>
						<div class="col-5">
							<input type="text" th:field="*{name}" class="form-control" />
						</div>
						<div class="col-4">
                                <span id="costError"></span>
                        </div>
					</div>
					
					<!--new Row -->
					<div class="row">
						<div class="col-3">
							<label for="status"> STATUS</label>
						</div>
						<div class="col-5">
							<input type="radio" th:field="*{status}" value="ACTIVE" /> ACTIVE
							<input type="radio" th:field="*{status}" value="In-Active" /> In-Active
						</div>
						<div class="col-4">
                                <span id="costError"></span>
                        </div>
					</div>
					
					<!--row-7-->
                        <div class="row">
                            <div class="col-3">
                                <label>In-Stock</label>
                            </div>
                            <div class="col-5">
                                <input type="radio" th:field="*{inStock}"  value="Yes"/>Yes
                                <input type="radio" th:field="*{inStock}"  value="No"/>No
                            </div>
                            <div class="col-4">
                                <span id="inStockError"></span> 
                            </div>
                        </div>
					<!--row-8-->
                        <div class="row">
                            <div class="col-3">
                                <label>Cost</label>
                            </div>
                            <div class="col-5">
                                <input type="number" th:field="*{cost}" class="form-control"/>
                            </div>
                            <div class="col-4">
                                <span id="costError"></span>
                            </div>
                        </div>
					<!--row-4-->
                        <div class="row">
                            <div class="col-3">
                                <label>Brand</label>
                            </div>
                            <div class="col-5">
                                <select th:field="*{brand.id}" class="form-control">
                                    <option value="">--SELECT--</option>
                                    <option th:each="ob:${brands}" th:text="${ob.value}" th:value="${ob.key}"/>
                                </select>
                            </div>
                            <div class="col-4">
                                <span id="brandError"></span>
                            </div>
                        </div>
					
					
					<!--row-5-->
                        <div class="row">
                            <div class="col-3">
                                <label>Category</label>
                            </div>
                            <div class="col-5">
                                <select th:field="*{category.id}" id="category" class="form-control">
                                    <option value="">--SELECT--</option>
                                    <option th:each="ob:${categories}" th:text="${ob.value}" th:value="${ob.key}"/>
                                </select>
                            </div>
                            <div class="col-4">
                                <span id="categoryError"></span>
                            </div>
                        </div>
					
					<input type="submit" value="Update" class="btn btn-success" />
				</form>
			</div>
		</div>
	</div>
</body>

</html>
